{% extends "blog/base.html" %}
{% load tailwind_filters %}
{% block content %}
<div class="mx-[50em] w-[50em] content-center align-center justify-center text-center">
    <form method="POST">
        {% csrf_token %} <!-- This is a security token to prevent cross-site request forgery -->
        <fieldset class="flex flex-col">
            <legend class="bg-[#E4DCCF] p-2 my-5 w-full text-3xl font-bold">
                Log In
            </legend>
            <div class="text-slate-500">
                {{ form|crispy }}
            </div>
        </fieldset>
        <div>
            <button type="submit"
                class="px-3 py-3 bg-blue-500 mx-1 my-2 rounded-xl hover:bg-blue-600 text-white">
                Log In
            </button>
        </div>
        <input type="submit" value="Register">
    </form>
    <div>
        Don't have an account? <br>
        <a href={% url 'register' %}><u>Sign Up</u></a>
    </div>
</div>

{% endblock content %}
