{% extends 'blog/base.html' %} {% block content %}

<div class="w-[200em]">
  <h1 class="text-3xl font-bold text-center">About Us</h1>
</div>

<div>
<p class="py-4">
  <strong> Manogya Guragai </strong> and
  <strong> Nikhil Karki </strong> made this functional webapp as part of the
  <strong> 'Web development with Python' </strong> course project.
</p>

{% if user.is_authenticated %}
  <p class="py-5 my-5 text-center"> Current User: <a href="{% url 'profile'%}"> {{ user.username }} </a> </p>
  {% else %}
  <p class="text-center"> <strong> Not logged in Currently. </strong></p>
  <p class="text-center"> <a href="{% url 'login' %}"><u> Log In Here </u></a></p>
</div>

{% endif %}

{% endblock content %}
