{% extends 'blog/base.html' %}

{% block content %}

{% for post in posts %}
<div
    class="container mx-5 my-5 min-w-[10em] max-w-[20em] min-h-fit border-2 rounded-xl justify-center hover:-translate-y-1 hover:scale-110 hover:bg-slate-800 duration-300">
    <h1 class=" text-3xl my-3 ">{{ post.Title }}</h1>
    <hr class="mx-1">
    <p class="text-sm my-1">
        By: {{ post.Author }} <br />
        On: {{post.Date_Posted|date:"F d, Y"}}
    </p>
    <hr class="mx-1">
    <p class="my-3 text-lg">{{ post.Content | safe | truncatechars:100 }}</p>
    <button class="px-3 py-3 bg-blue-500 mx-1 my-2 rounded-xl hover:bg-blue-600">
        <a href="{% url 'view_blog' post.id %}">Learn More</a> </button>
</div>
{% endfor %}
{% endblock content %}